pentatrion_vite:
    throw_on_missing_entry: true

when@prod:
    pentatrion_vite:
        cache: true

framework:
    assets:
        packages:
            vite:
                version_strategy: 'Pentatrion\ViteBundle\Asset\ViteAssetVersionStrategy'
