###> symfony/framework-bundle ###
/.idea/*
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml.dist
/.phpunit.cache/
###< phpunit/phpunit ###

/node_modules/
/docker/.env

# Vite build output
/public/build/

# PHP CS Fixer
.php-cs-fixer.cache

# PHPStan
phpstan.neon.dist
